
/*
CSS Reset
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Board View
*/

.board {
  width: 400px;
  height: 400px;
  position: relative;
  left: 25%;
}

.space {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 3px;
  display: inline-block;
  margin-top: -3px;
}

.space[data-row='0'] {
  border-top-style: none;
}

.space[data-row='2'] {
  border-bottom-style: none;
}

.space[data-column='0'] {
  border-left-style: none;
}

.space[data-column='2'] {
  border-right-style: none;
}

.x {
  background-image: url('../images/cross.png');
}

.o {
  background-image: url('../images/nought.png');
}
